a {
    text-decoration: none;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}
h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}
.nav {
    font-weight: 700;
    font-size: 12px;
    color: #6e7ea9;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    letter-spacing: 2.3px;
}
.btn-primary {
    background-color: #1085e4;
    border: 1px solid #1085e4;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 41px;
    border-radius: 30px;
    letter-spacing: 2.45px;
}
.btn-primary:hover {
    background-color: #fff;
    color: #1085e4;
}
.btn-secondary {
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    text-transform: uppercase;
    color: #7e8bae;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 41px;
    border-radius: 30px;
    letter-spacing: 2.45px;
}
.btn-secondary:hover {
    background-color: #fff;
}
.btn-free {
    font-weight: 400;
    padding: 20px 56px;
    letter-spacing: 1.6px;
}
.btn-info {
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 61px;
    border-radius: 30px;
    letter-spacing: 2.45px;
}
.btn-group a + a {
    margin-left: 15px;
}
.btn a {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #1085e4;
    text-transform: uppercase;
}
.btn a:hover {
color: #7e8bae;
background-color: #cbdbe8;
}
.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}
.grid h2 span {
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
}
.grid-item h3 {
    font-weight: 600;
    font-size: 20px;
    color: #192b59;
} 
.grid-item a {
    font-weight: 600;
    font-size: 14px;
    color: #1085e4;
}
.founder span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #192b59;
} 
p.founder  {
    font-size: 14px;
    color: 14px;
    color:#1085e4;
}
.page-subscribe span {
    font-size:14px;
    font-weight: 800;
    color: #00bffe;
    display: block;
    text-transform: uppercase;
}
.page-subscribe h2 {
    font-size:50px;
    font-weight: 600;
    color: #fff;
}
.page-subscribe p {
    font-size: 18px;
    font-weight: 400;
    color: #dfe8ff;
}
.page-subscribe input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #b1c3ee;
}
.page-subscribe button {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #1085e4;
    letter-spacing: 2.55px;
    padding: 16px 44px;
}
.page-softwere h2,
.page-stat h2,
.page-app h2,
.page-analitics h2
 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}
.page-softwere dt {
    color: #5a6789;
    font-size: 16px;
    font-weight: 700;
}
.page-stat h2 span {
    color: #1085e4;
    font-weight: 800;
    font-size: 16px;
    display: block;
    text-transform: uppercase;
}
.page-stat li {
    color: #1085e4;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;   
}
.page-stat li span {
    color: #bacbdc;
    font-weight: 700;
    font-size: 60px;
    display: block;
    text-transform: uppercase;
}
.page-app p:nth-child(3) {
    color: #c4d2dd;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.page-analitics a,
.page-app a {
    font-weight: 700;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #1085e4;
}
.page-app a {
    padding: 20px 63px;
}
.page-screen span {
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
}
.page-screen h2 {
color: #192b59;
font-size: 40px;
font-weight: 600;
}
.page-plan .btn-primary {
    padding: 20px 61px;
}
.page-form .btn-primary {
    letter-spacing: 2.1px;
    padding: 23px 64px;
}